<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tabla de multiplicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de multiplicar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input placeholder="Ingresa un numero" [(ngModel)]="inputNumber" type="number"></ion-input>
  <ion-button (click)="generateTable()">Mostrar Tabla</ion-button>
  <ion-list *ngIf="tableMult.length > 0">
    <ion-item *ngFor="let item of tableMult">
      <ion-text>{{lastNumber}} X {{item.num}} = {{item.result}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
